<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <nav class="main">
    <div><a href="/app/routes/<%= index %>">Home</a></div>
    <div><a href="/app/routes/<%= connect %>">Connect</a></div>
    <div><a href="/app/routes/<%= discover %>">Discover</a></div>
    <div><a href="/app/routes/<%= profile %>">My Profile</a></div>
    <div><a href="/app/routes/<%= settings %>">Settings</a></div>
    <div><a href="/app/routes/<%= help %>">Help</a></div>
    <div><a href="/app/routes/<%= index %>">Logout</a></div>
    <div><form name="search" action="<%= search %>" method="get">
        <input type="text" name="searchbox">
        <input type="submit" value="Search"></form></div>
    <div><a href="/app/routes/<%= tweet %>">Tweet</a></div>
  </nav>

  <nav class="sub">
    <!-- this is where the side navigation is, which is different for each page -->
  </nav>
</body>
</html>
