<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <nav class="main">
    <div><a href="/app/routes/<%= index %>">Home</a></div>
    <div><a href="/app/routes/<%= connect %>">Connect</a></div>
    <div><a href="/app/routes/<%= discover %>">Discover</a></div>
    <div><a href="/app/routes/<%= myprofile %>">My Profile</a></div>
    <div><a href="/app/routes/<%= settings %>">Settings</a></div>
    <div><a href="/app/routes/<%= help %>">Help</a></div>
    <div><a href="/app/routes/<%= index %>">Logout</a></div>
    <div><form name="search" action="<%= search %>" method="get">
        <input type="text" name="searchbox">
        <input type="submit" value="Search"></form></div>
    <div><a href="/app/routes/<%= tweet %>">Tweet</a></div>
  </nav>

  <nav class="sub">
    <div><a href="">Tweets</a></div>
    <div><a href="">Activity</a></div>
    <div><a href="">Who to follow</a></div>
    <div><a href="">Find friends</a></div>
  </nav>

  <div id="reccomendations">
    <h2>Who to follow</h2>
    <p>Small side section showing 3 recommendations for people you may know</p>
  </div>

  <div id="trends">
    <h2>Trends</h2>
    <p>Small side section showing list of popular tags</p>
  </div>

  <div id="tweets">
    <h1>Tweets</h1>
    <p>List of popular tweets</p>
  </div>

  <div id="activity">
    <h1>Activity</h1>
    <p>What people you're following have recently followed</p>
  </div>

  <div id="suggestions">
    <h1>Who to follow</h1>
    <p>Suggestions for new people to follow based on who you already follow</p>
  </div>

  <div id="findfriends">
    <h1>Find friends</h1>
    <p>Import contacts from Facebook or email accounts</p>
  </div>
</body>
</html>
