<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="public/stylesheet" type="text/css" href="style.css">
</head>
<body>

	<header>
		<a href="routes/<%= index %>">Home</a>
		<a href="routes/<%= connect %>">Connect</a>
		<a href="routes/<%= discover %>">Discover</a>
		<a href="routes/<%= myprofile %>">Me</a>
		<form name="search" action="<%= search %>" method="get">
			<input type="text" name="searchstring">
			<input type="submit" value="Search"></form>
			<a href="routes/<%= settings %>">Settings</a>
			<a href="routes/<%= tweet %>">Tweet</a>
		</header>
	</body>
	</html>