<% include header.ejs %>

<div class='view'>
<h1><%= profileUser %>'s profile</h1>

<div>
	<% if(isFollowing && !isMyProfile) { %>
		<button class="followed" id="followB" profileUser="<%= profileUser %>">Follow</button>
	<% } else if(!isFollowing && isMyProfile) { %>
		<button class="ownProfile" id="followB" profileUser="<%= profileUser %>">Follow</button>
	<% } else { %>
		<button id="followB" profileUser="<%= profileUser %>">Follow</button>
	<% } %>
</div>

<div>Followers:<br />
	<ol id="followers">
	</ol>
</div>

<div>Following:<br />
	<% if (!profileFollowing || profileFollowing.length === 0) { %>
		This user is not following anyone.
	<% } else { %>
		<ol id="following">
		<% console.log(profileFollowing) %>
		<% for (var i = 0; i < profileFollowing.length; i++) { %>
			<li><a href="/user/<%= profileFollowing[i] %>">
				<%= profileFollowing[i] %>
				</a>
			</li>
		<% } %>
		</ol>
	<% } %>
</div>

<div>Posts:<br />
	<% if (!profilePosts || profilePosts.length === 0) { %>
		This user has no posts.
	<% } else { %>
		<ol id="posts">
		<% for (var i = profilePosts.length - 1; i >= 0; i--) { %>
			<li>
				<%= profilePosts[i].date %><br />
				<%= profilePosts[i].postText %>
			</li>
		<% } %>
		</ol>
	<% } %>
</div>
</div>
</body>
</html>
