<% include header.ejs %>

<h1><%= profileUser %>'s profile</h1>

<div>
	<form name="follow" action="/user/<%= profileUser %>/follow"
	method="post">
		<input type="submit" name ="followUser" 
		value=<% if (!isFollowing){ %>
				"Follow"
			<% } else { %>
				"Unfollow"
			<% } %>
		/>
	</form>
</div>

<div>Followers:<br />
	<% if (!profileFollowers || profileFollowers.length === 0) { %>
		This user has no followers.
	<% } else { %>
		<ol id="followers">
		<% for (var i = 0; i < profileFollowers.length; i++) { %>
			<li><a href="/user/<%= profileFollowers[i] %>">
				<%= profileFollowers[i] %>
				</a>
			</li>
		<% } %>
		</ol>
	<% } %>
</div>

<div>Following:<br />
	<% if (!profileFollowing || profileFollowing.length === 0) { %>
		This user is not following anyone.
	<% } else { %>
		<ol id="following">
		<% console.log(profileFollowing) %>
		<% for (var i = 0; i < profileFollowing.length; i++) { %>
			<li><a href="/user/<%= profileFollowing[i] %>">
				<%= profileFollowing[i] %>
				</a>
			</li>
		<% } %>
		</ol>
	<% } %>
</div>

<div>Posts:<br />
	<% if (!profilePosts || profilePosts.length === 0) { %>
		This user has no posts.
	<% } else { %>
		<ol id="posts">
		<% for (var i = profilePosts.length - 1; i >= 0; i--) { %>
			<li>
				<%= profilePosts[i].date %><br />
				<%= profilePosts[i].postText %>
			</li>
		<% } %>
		</ol>
	<% } %>
</div>

</body>
</html>